@font-face {
  font-family: "Futura-Bold";
  src: url(./Futura-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
  background-color: aqua;
}

#page1 h1 {
  font-size: 13vw;
  line-height: 20vh;
  text-transform: uppercase;
  font-family: Futura;
}

#video-container {
  margin-top: 1vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  font-family: "Futura-bold";
  padding: 3vw 2vw;
  font-size: 1.3vw;
  position: fixed;
  color: white;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

#page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: rgba(231, 232, 232, 0.915);
}

#page2 .elem .dets:hover {
  height: 250px;
  width: 320px;
}

#page2 .elem .dets .container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#page2 .elem .dets .container1 h3 {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 1vw;
  padding-top: 2vh;
}

#page2 .elem .dets .hover-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 30px;
  margin-top: 10vh;
  text-align: center;
  scale: 0;
  opacity: 0;
}

#page2 .elem .dets .hover-pill p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vh;
}

#page2 .elem .dets .hover-pill img {
  height: 14vh;
  width: 100%;
}

#page2 .elem .dets .container1 .hover-pill #page3 {
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 7vh;
  padding-top: 7vh;
}

#inne {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#child {
  height: 55vh;
  width: 40vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

#headings {
  text-align: center;
  font-size: 2.5vw;
  color: rgb(255, 179, 0);
  border: 2px solid black;
  background-color: rgb(41, 40, 113);
}

#child img {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #page1 {
    width: 100%;
    min-height: 70vh;
    padding: 0 2vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 13vw;
    line-height: 7vh;
    letter-spacing: -3px;
    text-transform: uppercase;
  }

  #video-container {
    height: 25vh;
    margin-top: 1vw;
  }

  #video-container #play {
    font-family: "Futura-bold";
    padding: 3vw 2vw;
    font-size: 1.3vw;
    position: fixed;
    color: white;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
  }

  #page2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    flex-direction: column;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1vh;
  }

  .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
