@font-face {
  font-family: "Futura-Bold";
  src: url(./Futura-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 100px;
  width: 100%;
  z-index: 99;
  position: fixed;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  height: 82px;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: white;
}
#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

#cursor {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 218, 83);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

#page1 {
  /* margin-top: 8vh; */
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
}

#page1 h1 {
  font-size: 10vw;
  line-height: 20vh;
  text-transform: uppercase;
  font-family: Futura;
}

#video-container {
  margin-top: 1vh;
  height: 100vh;
  width: 100%;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  font-family: "Futura-bold";
  padding: 3vw 2vw;
  font-size: 1.3vw;
  position: fixed;
  color: white;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

#page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 .elem .dets {
  height: 60px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  background-color: rgba(231, 232, 232, 0.915);
}

#page2 .elem .dets:hover {
  height: 250px;
  width: 320px;
}

#page2 .elem .dets .container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#page2 .elem .dets .container1 h3 {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 1vw;
  padding-top: 2vh;
}

#page2 .elem .dets .hover-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 30px;
  margin-top: 10vh;
  text-align: center;
  scale: 0;
  opacity: 0;
}

#page2 .elem .dets .hover-pill p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vh;
}

#page2 .elem .dets .hover-pill img {
  height: 14vh;
  width: 100%;
}

#page2 .elem .dets .container1 .hover-pill #page3 {
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  /* background-color: #f7f7f7; */
  margin-top: 7vh;
  padding-top: 7vh;
  margin-bottom: 10vh;
}

#page4 {
  min-height: 120vh;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 7vh;
  padding-top: 7vh;
  margin-bottom: 10vh;
  font-family: "Courier New", Courier, monospace;
}

#btn-submit:hover {
  scale: 105%;
}

#inne {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#child {
  height: 55vh;
  width: 40vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#child img {
  width: 10%;
  height: 100%;
}

#child img:hover {
  scale: 105%;
}

#headings {
  text-align: center;
  font-size: 2.5vw;
  color: #fde74c;
  border: 2px solid black;
  background-color: #c3423f;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#child img {
  height: 100%;
  width: 100%;
}

.second-page-heading {
  text-align: center;
  margin-top: 5vh;
  color: #1983ad;
}

.element-page4 {
  display: flex;
  padding: 4vh;
  padding-left: 8vw;
  align-items: center;
  justify-content: center;
}

.element1-p4 {
  padding: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  height: auto;
  width: 50%;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.element1-p4 img {
  height: 60%;
  width: 100%;
}

.element2-p4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2vh 2vw;
  width: 50%;
  justify-content: center;
}

.e1-2 {
  width: 100%;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 7vh;
  margin-bottom: 10vh;
}

#page5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.footer-column p,
.footer-column ul,
.footer-column li {
  font-size: 14px;
  color: #ccc;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

#a21 a {
  text-decoration: none;
  color: white;
}

/* Responsive Design */
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #nav {
    width: 100%;
    z-index: 99;
    position: fixed;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #page1 {
    /* margin-top: 8vh; */
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 15vh;
  }
  .element1-p4 {
    width: 70%;
  }
  .element2-p4 {
    width: 70%;
  }

  #nav #nav-part2 #links {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #nav #nav-part2 #icons {
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #page1 h1 {
    font-size: 13vw;
    line-height: 8vh;
    letter-spacing: -3px;
    text-transform: uppercase;
  }

  .element-page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .element1-p4 {
    width: 90%;
    padding: 2vh 2vw;
  }

  .element2-p4 {
    width: 90%;
  }

  #video-container {
    height: 40vh;
    margin-top: 1vw;
  }

  #video-container #play {
    font-family: "Futura-bold";
    padding: 3vw 2vw;
    font-size: 1.3vw;
    position: fixed;
    color: white;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
  }

  #page2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    flex-direction: column;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1vh;
  }

  .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #inne {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #child {
    width: 100%;
  }

  #page4 {
    min-height: 80vh;
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 7vh;
    padding-top: 7vh;
    margin-bottom: 10vh;
    font-family: "Courier New", Courier, monospace;
  }

  #page5 {
    min-height: 30vh;
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 7vh;
    margin-bottom: 10vh;
  }

  #page5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #child img {
    height: 80%;
    width: 70%;
  }
}
